<% provide(:title, "BROKEN MOON") %>
<h1>BROKEN MOON</h1>
<%= link_to 'ホーム', root_url %>
<%= link_to 'キングスキャニオン', kings_canyon_url %>
<%= link_to 'オリンパス', olympus_url %>
<%= link_to 'ストームポイント', storm_point_url %>
<%= link_to 'ワールズエッジ', worlds_edge_url %>