<% provide(:title, "KINGS CANYON") %>
<h1>KINGS CANYON</h1>
<%= link_to 'ホーム', root_url %>
<%= link_to 'ブロークンムーン', broken_moon_url %>
<%= link_to 'オリンパス', olympus_url %>
<%= link_to 'ストームポイント', storm_point_url %>
<%= link_to 'ワールズエッジ', worlds_edge_url %>