<% provide(:title, "STORM POINT") %>
<h1>STORM POINT</h1>
<%= link_to 'ホーム', root_url %>
<%= link_to 'ブロークンムーン', broken_moon_url %>
<%= link_to 'キングスキャニオン', kings_canyon_url %>
<%= link_to 'オリンパス', olympus_url %>
<%= link_to 'ワールズエッジ', worlds_edge_url %>