<% provide(:title, "WORLD'S EDGE") %>
<h1>WORLD'S EDGE</h1>
<%= link_to 'ホーム', root_url %>
<%= link_to 'ブロークンムーン', broken_moon_url %>
<%= link_to 'キングスキャニオン', kings_canyon_url %>
<%= link_to 'オリンパス', olympus_url %>
<%= link_to 'ストームポイント', storm_point_url %>
